<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/web-layout :: web-fragment(
                                                ~{::title},
                                                ~{:: #header-static-resource},
                                                ~{:: #header-area},
                                                ~{:: #site-branding-area},
                                                ~{:: #mainmenu-area},
                                                ~{:: #main-content},
                                                ~{:: #footer-top-area},
                                                ~{:: #footer-bottom-area}
                                               )}">
<head>
    <title>Trang chủ</title>
    <th:block id="home-static-resources">

    </th:block>
</head>
<body>

<div id="header-area" th:replace="~{/fragment/web-fragments :: header-area}">

</div>

<div id="site-branding-area" th:replace="~{/fragment/web-fragments :: site-branding-area}">

</div> <!-- End site branding area -->

<div id="mainmenu-area" th:replace="~{/fragment/web-fragments :: mainmenu-area}">

</div> <!-- End mainmenu area -->

<div id="main-content">
    <div class="slider-area">
        <!-- Slider -->
        <div class="block-slider block-slider4">
            <ul class="" id="bxslider-home4">
                <th:block th:each="product: ${sliderList}">
                    <li>
                        <img th:src="@{${product.thumbnail}}" th:alt="${product.name}">
                        <div class="caption-group">
                            <h2 class="caption title" th:text="${product.name}">
<!--                                iPhone <span class="primary">6 <strong>Plus</strong></span>-->
                            </h2>
<!--                            <h4 class="caption subtitle">Dual SIM</h4>-->
                            <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
                        </div>
                    </li>
                </th:block>
            </ul>
        </div>
        <!-- ./Slider -->
    </div> <!-- End slider area -->

    <div class="promo-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo1">
                        <i class="fa fa-refresh"></i>
                        <p>30 Ngày đổi trả</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo2">
                        <i class="fa fa-truck"></i>
                        <p>Miễn phí giao hàng</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo3">
                        <i class="fa fa-lock"></i>
                        <p>Thanh toán an toàn</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo4">
                        <i class="fa fa-gift"></i>
                        <p>Sản phẩm mới</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End promo area -->

    <div class="brands-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="brand-wrapper">
                        <div class="brand-list">
                            <th:block th:each="brand: ${brands}">
                                <img th:src="@{${brand.image}}" th:alt="${brand.name}">
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End brands area -->
</div>

<div id="footer-top-area" th:replace="~{/fragment/web-fragments :: footer-top-area}">

</div> <!-- End mainmenu area -->

<div id="footer-bottom-area" th:replace="~{/fragment/web-fragments :: footer-bottom-area}">

</div> <!-- End mainmenu area -->

</body>
</html>