<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/admin-layout :: admin-fragment(
                                                ~{::title},
                                                ~{:: #header-static-resource},
                                                ~{:: #header},
                                                ~{:: #sidebar},
                                                ~{:: #content},
                                                ~{:: #footer},
                                                ~{:: #control-sidebar},
                                                ~{:: #footer-scripts}
                                               )}">
<head>
    <title>Sản phẩm</title>
    <th:block id="header-static-resource">
        <link rel="stylesheet" th:href="@{/admin/tablesortable.css}">
    </th:block>
</head>
<body>

<div class="wrapper">

    <!-- Navbar -->
    <nav id="header" th:replace="~{/fragment/admin-fragments :: header}">
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside id="sidebar" th:replace="~{/fragment/admin-fragments :: sidebar}">
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div id="content" class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Sản phẩm</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <!--                            <li class="breadcrumb-item"><a th:href="@{/admin}">Danh sách thể loại</a></li>-->
                            <li class="breadcrumb-item">Danh sách sản phẩm</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="text-right" style="margin-bottom: 8px">
                            <a th:href="@{/admin/product/add}" class="btn btn-outline-primary">
                                <i class="fas fa-plus-circle"></i>
                            </a>
                            <button id="btnDelete" class="btn btn-outline-danger">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Danh sách sản phẩm</h3>
                            </div>
                            <!-- /.card-header -->

                            <div class="card-body">

                                <div id="bodyHeader" class="card-title w-100 d-flex justify-content-between mb-2">

                                    <select id="limit" class="custom-select col-2">
                                        <option value="2">2</option>
                                        <option value="5">5</option>
                                        <option selected value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="all">All</option>
                                    </select>

                                    <input id="searchBox" class="form-control col-4" type="text" placeholder="Tìm kiếm">

                                </div>

                                <table id="table" class="table table-bordered table-striped table-sortable">
                                    <thead>
                                    <tr th:switch="${model.columnName}">
                                        <th scope="col">
                                            <input id="select-all" type="checkbox">
                                        </th>
                                        <th:block th:case="name" >
                                            <th data-column-name="name" th:class="${model.sortType}" scope="col">Tên sản phẩm</th>
                                            <th data-column-name="category.name" scope="col">Tển thể loại</th>
                                            <th data-column-name="brand.name" scope="col">Tên nhãn hiệu</th>
                                            <th scope="col">Số lượng</th>
                                            <th>#</th>
                                        </th:block>
                                        <th:block th:case="category.name" >
                                            <th data-column-name="name" scope="col">Tên sản phẩm</th>
                                            <th data-column-name="category.name" th:class="${model.sortType}" scope="col">Tển thể loại</th>
                                            <th data-column-name="brand.name" scope="col">Tên nhãn hiệu</th>
                                            <th scope="col">Số lượng</th>
                                            <th>#</th>
                                        </th:block>
                                        <th:block th:case="brand.name" >
                                            <th data-column-name="name" scope="col">Tên sản phẩm</th>
                                            <th data-column-name="category.name" scope="col">Tển thể loại</th>
                                            <th data-column-name="brand.name" th:class="${model.sortType}" scope="col">Tên nhãn hiệu</th>
                                            <th scope="col">Số lượng</th>
                                            <th>#</th>
                                        </th:block>
                                        <th:block th:case="*" >
                                            <th data-column-name="name" th:class="asc" scope="col">Tên sản phẩm</th>
                                            <th data-column-name="category.name" scope="col">Tển thể loại</th>
                                            <th data-column-name="brand.name" scope="col">Tên nhãn hiệu</th>
                                            <th scope="col">Số lượng</th>
                                            <th>#</th>
                                        </th:block>

                                    </tr>
                                    </thead>
                                    <tbody th:each="product: ${model.results}">
                                        <tr th:object="${product}">
                                            <td>
                                                <input type="checkbox" th:value="*{id}">
                                            </td>
                                            <td th:text="*{name}"></td>
                                            <td th:text="*{categoryName}"></td>
                                            <td th:text="*{brandName}"></td>
                                            <td th:text="*{quantity}"></td>
                                            <td>
                                                <button id="btnEdit" th:data-id="*{id}" class="btn btn-outline-success">Sửa</button>
                                                <button id="btnDetail" th:data-id="*{id}" class="btn btn-outline-info">Chi tiết</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul id="pagination" class="pagination-lg" style="margin-top: 16px"></ul>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer id="footer" th:replace="~{/fragment/admin-fragments :: footer}">
    </footer>

    <!-- Control Sidebar -->
    <aside id="control-sidebar" th:replace="~{/fragment/admin-fragments :: control-sidebar}">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>

<th:block id="footer-scripts">
    <!--  twbsPagination  -->
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script th:src="@{/pagination/jquery.twbsPagination.js}"></script>

    <!--  Sweet alert  -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Page specific script -->
    <script>
        $("#product").addClass("menu-open");
        $("#list-product").addClass("active");
        $(document).ready(function() {
            var $pagination = $('#pagination');
            let totalPage = [[${model.totalPage}]];
            let url="";

            $pagination.twbsPagination({
                totalPages: totalPage,
                visiblePages: 5,
                startPage: [[${model.currentPage}]],
                onPageClick: function (e, currentPage) {

                    url = `${window.location.pathname}?page=${currentPage}&limit=${[[${model.limit}]]}`;
                    $.ajax({
                        url: url,
                        dataType : "html",
                        success: function (data){
                            $('#table').html($('#table',data).html());
                            // similar to $(data).find('#showresults')
                        }
                    })
                }
            });

            $("#limit").change(function () {
                let limit = $(this).val();
                url = `${window.location.pathname}?page=${[[${model.currentPage}]]}&limit=${limit}`;
                totalPage = Math.ceil([[${model.totalItem}]] / limit)
                $.ajax({
                    url: url,
                    dataType : "html",
                    success: function (data){
                        $('#table').html($('#table',data).html());
                        $pagination.twbsPagination("destroy");
                        $pagination.twbsPagination({
                            totalPages: totalPage,
                            visiblePages: 5,
                            startPage: [[${model.currentPage}]],
                            onPageClick: function (e, currentPage) {
                                url = `${window.location.pathname}?page=${currentPage}&limit=${limit}`;
                                $.ajax({
                                    url: url,
                                    dataType : "html",
                                    success: function (data){
                                        $('#table').html($('#table',data).html());
                                        // similar to $(data).find('#showresults')
                                    }
                                })
                            }
                        });
                    }
                });
            });

            $('#btnDelete').on('click', function(e) {
                let ids = [];
                // Iterate over all checkboxes in the table
                $('#table tbody input[type="checkbox"]').each(function () {
                    if (this.checked) {
                        // Create a hidden element
                        ids.push(this.value);
                    }
                });
                if (ids.length > 0) {
                    swal({
                        title: "Bạn có muốn xoá?",
                        text: "Xoá, dữ liêu sẽ không còn.",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                        .then((willDelete) => {
                            if (willDelete) {
                                swal("Xoá thành công!", {
                                    icon: "success",
                                }).then((willSuccess) => {
                                    if (willSuccess) {
                                        window.location.href = "/admin/product/delete?ids=" + ids;
                                    }
                                });
                            } else {
                                swal("Huỷ thành công!");
                            }
                        });
                } else {
                    swal("Chưa chọn sản phẩm để xoá!")
                }
            });

            $('#table').on( 'click', "#btnEdit", function (e) {
                window.location.href = "/admin/product/add?id=" + $(this).data("id");
            } );

            $('#table').on( 'click', "#btnDetail", function (e) {
                window.location.href = "/admin/product/detail?id=" + $(this).data("id");
            } );

            $('#table').on("click", "#select-all", function (){
                if(this.checked) {
                    $('#table tbody input[type="checkbox"]').each(function (index, e) {
                        if (!e.checked) {
                            $(e).prop("checked", true);
                        }
                    });
                } else {
                    $('#table tbody input[type="checkbox"]').each(function (index, e) {
                        if (e.checked) {
                            $(e).prop("checked", false);
                        }
                    });
                }
            });

            $('#bodyHeader #searchBox').on("change paste keyup", function () {
               let key = $(this).val();
               url = `${window.location.pathname}?page=${[[${model.currentPage}]]}&limit=${[[${model.limit}]]}&q=${key}`;
               $.ajax({
                   url: url,
                   dataType : "html",
                   success: function (data) {
                       $('#table').html($('#table',data).html());
                   }
               })
            });

            $('#table').on("click", "thead tr th", function () {
                let sort = $(this).attr("class");
                $('#table thead tr th').each(function (index, e) {
                    $(e).removeClass("asc");
                    $(e).removeClass("desc");
                });
                if (sort == "asc") {
                    $(this).attr("class", "desc");
                } else {
                    $(this).attr("class", "asc");
                }
                sort = $(this).attr("class");
                let columnName = $(this).data("column-name");
                url = `${window.location.pathname}?page=${[[${model.currentPage}]]}&limit=${[[${model.limit}]]}&sort=${sort}&column=${columnName}`;
                $.ajax({
                    url: url,
                    dataType : "html",
                    success: function (data){
                        $('#table').html($('#table',data).html());
                        // similar to $(data).find('#showresults')
                    }
                })
            });

        });

    </script>
</th:block>
</body>
</html>